<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
  <div class="mainContainer">

  {{! --------------- Seccion 1 --------------- }}
    <main>
      <div id="banner" >
        <div id="left">
          <h1>Lavar la ropa desde casa nunca había sido tan divertido!</h1>
        </div>
        <div id="right">
          <img class="banner" src="https://s03.s3c.es/imag/_v0/770x420/7/c/3/600x400_lavadura-factura-de-la-luz-madrugada-1.jpg" alt="" />
        </div>
      </div>
      {{! --------------- Seccion 1 fin --------------- }}

      <div id="user_guide" class="row">
        <section class="timeline">
          <ol>
            <li>
              <div>
                <time>Registrate con nosotros</time>
                <i class="fa-solid fa-user-plus"></i>
              </div>
            </li>
            <li>
              <div id="timeline-icons">
                <time>Elige tu servicio</time>
                <i class="fa-solid fa-jug-detergent"></i>
              </div>
            </li>
            <li>
              <div>
                <time>Selecciona tu proveedor</time>
                <i class="fa-solid fa-store"></i>
              </div>
            </li>
            <li>
              <div>
                <time>Selecciona las bolsas que necesitas</time>
                <i class="fa-solid fa-sack-xmark"></i>
              </div>
            </li><li>
              <div>
                <time>Realiza tu pedido</time>
                <i class="fa-solid fa-truck"></i>
              </div>
            </li>

            <!-- more list items here -->

            <li></li>
          </ol>

        </section>
      </div>
      {{! Time line end }}

        <div id="reviews" class="row">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://www.tetra5.com/wp-content/uploads/2015/03/imagenes-de-personas-2.jpg" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Después de empezar a utilizar Splash, ahora puedo dedicar mi tiempo a las tareas que son importantes para mi. Nunca se me ha dado bien planchar y me cuesta mucho. Me he quitado un peso de encima. Este servicio trae alegría a mi día🙂</p>
                                    </div>
                                </div>
                            </div>
                             <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://th.bing.com/th/id/R.054e068ec2688b140229ddf08e86233b?rik=k2EcL%2fkbU3N9Qg&pid=ImgRaw&r=0" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Para mi que odio planchar, es todo un alivio que una vez por semana me recojan la ropa y me la traigan limpia y planchada.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-wrapper">
                               <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://tse2.mm.bing.net/th/id/OIP.WbAYmg48lrjPhGkFqXVjYwHaHa?pid=ImgDet&rs=1" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Servicio más que recomendable. La ropa queda perfecta y además tengo más tiempo libre...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                           <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://tse4.mm.bing.net/th/id/OIP.Bt86cFV63I4JaLKFhk6sPwHaEK?pid=ImgDet&rs=1" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Sin duda un ahorro de tiempo brutal. Ropa limpia y planchada con un servicio excelente..</p>
                                    </div>
                                </div>
                            </div>
                             <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://tse1.mm.bing.net/th/id/OIP.Qk7lMmFYTpriij_61lGXUgHaD6?pid=ImgDet&w=1600&h=844&rs=1" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Splash Cape Town Parklands rewound my white duvet; I took it to them white and returned it cream white, torn and moulded, and rusted. I spent a lot of money on this and am very dissatisfied with the service; I can't use it again because it smells bad odor.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-wrapper">
                               <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://th.bing.com/th/id/R.0d8c55e3346ed4aa86f791eaa008bf60?rik=LiEC%2bLw4rHAHlA&pid=ImgRaw&r=0" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">I had a great experience using Splash Clothes were clean and neat. I highly recommend. Actually I have referred them to friends who continue to use the services!!!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://haussenerbern.ch/app/uploads/2018/10/wilhelm_melanie_1200x900px-720x350.jpg" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Amazing service, very easy and user friendly app, value for money. My overall experience is above amazing!</p>
                                    </div>
                                </div>
                            </div>
                             <div class="cards-wrapper">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://tse1.mm.bing.net/th/id/OIP.cCGsdjPxHgHKqd63U_MB2wHaFj?pid=ImgDet&w=760&h=570&rs=1" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">2 of my sweaters have been shrunk. After compiling the complain as they asked me taking pictures and many other stuffs, they simply answered it should have been filled in the 2 days after receiving the items. Moreover they were delivered to my office and not personally to me while i was on business trip so i just took them after 5 days, even while accepting the "politics" of complain time, they did not even refund me the cost of the service. Worst customer care ever, don't use it if you take care of your clothes!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-wrapper">
                               <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://th.bing.com/th/id/R.b7a1e07a3b59ed9ed0c2f4b5259cb98e?rik=8HiwJoWEH7dN4Q&riu=http%3a%2f%2ftusimagenesde.com%2fwp-content%2fuploads%2f2014%2f09%2fimagenes-de-personas-3.jpg&ehk=%2fdr6jpBLBg9dts8m72I651%2fJEiahTkNfTUtPs6YsbIk%3d&risl=&pid=ImgRaw&r=0" width="fit-content" height="300px" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Ahora ya no tengo que pasar mis fines de semana encerrado lavando y planchando la ropa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
             </div>
      </div>

      <footer id="footer" class="row">
        <div id="foot-content">
            <div id="icons">
                <img src="/images/facebookrounded.png" width="50px" height="50px" alt="Facebook">
                <img src="/images/instagram.png"  width="50px" height="50px" alt="">
                <img src="/images/tweeter.png"  width="50px" height="50px" alt="">
            </div>
            <div id="copy-rights" class="col-12">
                <p><i class="fa-solid fa-registered"></i>Splash es una marca con derechos registrados, hecho en Mexico, 2022</p>
            </div>
        </div>
    </footer>

    </main>

    

  </div>      
</body>
</html>