<h1>Modifica tu servicio</h1>

<form action="/product/edit/{{product._id}}" method="post">

    <label for="photo">Ingresa tu  fotografia</label>
    <input type="text" name="photo"><br>
    <label for="name">Ingresa el nombre del servicio</label>
    <input type="text" name="name"></input><br>
    <label for="description">Ingresa la descripción del servicio</label>
    <input type="text" name="description"></input><br>
    <label for="service_type">Lavanderia</label>
    <input type="text" name="service_pack"></input><br>
    <label for="price">Ingresa el precio del servicio</label>
    <input type="number" name="price"></input><br>

    <button type="submit">Guardar cambios</button>





</form>