<h1>Precios y Servicios</h1>


    
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Tipo de Servicio</th>
                    <th>Precio</th>
                </tr>
            </thead>
    {{#each  partner._product}}
            <tbody>
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.service_type}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
    {{/each}}
        </table>
   
